<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{common/selermasterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}"/>
    <title>Inventory Manager - Edit Merchant</title>
</head>
<body>
<th:block layout:fragment="content">
    <div  style="position: absolute;left: 220px;right: 50px;top: 50px; height: 500px; overflow-y: scroll;">
        Report By Product
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order Code</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="orderLine, iterStat : ${orderLines}">
                <th scope="row" th:text="${iterStat.count}"></th>
                <td th:text="${orderLine.orderCode}"></td>
                <td th:text="${orderLine.product.name}"></td>
                <td th:text="${orderLine.datePurchased}"></td>
                <td th:text="${orderLine.product.sellingPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="footer"></th:block>
</body>
</html>